@import url(../../../styles.scss);
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--background);
  .login {
    display: flex;
    flex-direction: column;
    color: var(--colorFont);
    gap: 10px;
    input {
      border-radius: 10px;
      background: var(--input);
      border: none;
      padding: 10px 20px;
      color: var(--colorFont);
    }
    button {
      height: 40px;
      border: none;
      color: var(--colorFont);
      background: #2b8de3;
      background: linear-gradient(90deg, rgba(43, 141, 227, 1) 0%, rgba(62, 136, 240, 1) 100%);
    }
  }

  .allchats {
    width: 35%;
    height: 100%;
    background-color: var(--main);
    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: var(--main);
      color: var(--colorFont);
      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: gray;
        }
      }
      .config {
        font-size: 1.5rem;
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .search {
      width: 100%;
      display: flex;
      padding: 10px 20px;
      gap: 10px;
      input {
        width: calc(100% - 30px);
        border-radius: 50px;
        border: none;
        padding: 5px 10px;
        background-color: var(--input);
      }
      .icon {
        min-width: 30px;
        height: 30px;
        font-size: 0.8rem;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(43, 141, 227, 1) 0%, rgba(62, 136, 240, 1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--colorFont);
      }
    }
    ul {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: start;
        color: var(--colorFontSecondary);
        gap: 10px;
        // padding-bottom: 10px;
        padding: 10px 8px;
        border-bottom: 1px solid var(--input);
        .status {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          left: -3px;
            &.online{
              background-color: rgb(62, 239, 62);
            }
            &.offline{
              background-color: rgb(239, 77, 62);

            }
        }
        .avatar {
          position: relative;
          width: 30px;
          height: 30px;
          background-color: rgb(54, 54, 54);
          border-radius: 50%;
        }
        .right {
          span {
            font-size: 0.9rem;
          }
          .last_message {
            font-size: 0.7rem;
          }
        }
        &.me {
          background: linear-gradient(90deg, rgba(43, 141, 227, 1) 0%, rgba(62, 136, 240, 1) 100%);
          color: var(--colorFont);
          border-radius: 5px;
          .avatar {
            background: var(--colorFont);
          }
        }
      }
    }
  }
  .messagem {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
    .header {
      width: 100%;
      padding: 0;
      height: 80px;
      background-color: var(--background);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      border-bottom: 1px solid var(--input);
      color: var(--colorFont);
      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .avatar {
          height: 50px;
          width: 50px;
          background-color: gray;
          border-radius: 50%;
        }
      }
      .icons {
        display: flex;
        gap: 10px;
        li {
          list-style: none;
          height: 40px;
          width: 40px;
          background-color: var(--input);
          border-radius: 50%;
          color: var(--icon);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .messages {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      max-height: 100%;
      overflow-y: auto;
      flex-direction: column;
      gap: 15px;

      li {
        color: white;
        list-style: none;
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: end;
        justify-content: start;
        .box {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
        }
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: var(--input);
          position: relative;
          .status {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            left: 0px;
            border: 3px solid var(--background);
            &.online{
              background-color: rgb(62, 239, 62);
            }
            &.offline{
              background-color: rgb(239, 77, 62);

            }
          }
        }
        &.send {
          flex-direction: row-reverse;
          justify-content: end;

          .avatar{
                 background: linear-gradient(
              90deg,
              rgba(43, 141, 227, 1) 0%,
              rgba(62, 136, 240, 1) 100%
            );
          }
          .user {
            font-size: 0.8rem;
          }
          .box {
            min-width: 120px;
            padding: 15px;
            border-radius: 15px;
            border-bottom-right-radius: 0;
             background: #2b8de3;
            background: linear-gradient(
              90deg,
              rgba(43, 141, 227, 1) 0%,
              rgba(62, 136, 240, 1) 100%
            );
          }
        }
        &.receive {
          .user {
            font-size: 0.8rem;
          }
          .avatar {
            background: var(--input);
          }
          .box {
            min-width: 120px;
            background-color: var(--input);
            padding: 15px;
            border-radius: 15px;
            border-bottom-left-radius: 0;
          }
        }
        &.sistema {
          flex-direction: row;
          justify-content: center;
          .user {
            font-size: 0.8rem;
          }
          .box {
            font-size: 0.8rem;
            min-width: 120px;
            padding: 15px;
            display: flex;
            border-radius: 15px;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
    .input_container {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 20px 20px;
      height: 90px;

      input {
        width: 90%;
        padding: 5px 10px;
        padding-left: 20px;
        border: none;
        height: 50px;
        border-radius: 50px;
        background-color: var(--input);
        color: var(--colorFont);
      }
      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: linear-gradient(90deg, rgba(43, 141, 227, 1) 0%, rgba(62, 136, 240, 1) 100%);
        color: white;
        fa-icon {
          transform: translateY(2px);
        }
      }
    }
  }
}

@media (width <= 750px) {
  .container {
    .allchats {
      display: none;
    }
    .messagem {
      .header {
        .icons {
          display: none;
        }
      }
    }
  }
}
